*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-image: url(../assets/background-stars.svg);
  background-color: #070625;
  color: white;
  font-family: "League Spartan", sans-serif, "Antonio";
  height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
  --data-cursor: attr(data-cursor);
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  flex-basis: 5%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.374);
}
nav .title {
  font-size: 1.5em;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li:hover {
  cursor: url(../assets/planet-neptune.svg);
}
nav ul li a {
  color: white;
  font-size: 0.9em;
}
.planet-descrip {
  display: flex;
  height: 570px;
  align-items: center;
  flex-basis: 60%;
}
.planet-info {
  flex-basis: 40%;
  display: flex;
  padding: 40px 40px;
}
.planet-image {
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  position: relative;
}
.planet-image img {
  max-width: 50%;
  height: auto;
  user-select: none;
}
.planet-name {
  display: block;
  font-size: 4rem;
}
.planet-details {
  font-size: 0.9em;
  font-weight: 100;
  width: 70%;
  line-height: 25px;
}
.wiki {
  display: block;
  padding-top: 20px;
}
.planet-modes {
  display: block;
  margin-top: 20px;
  font-size: 0.9em;
  font-weight: 100;
  user-select: none;
  width: 400px;
}
.planet-modes div {
  display: block;
  padding: 15px;
  margin-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.374);
  cursor: pointer;
  text-transform: uppercase;
}

.planet-modes div:not([class^="active"]):hover {
  background-color: #d8d8d879;
}
.planet-modes span.number {
  padding-right: 10px;
}
.active-earth {
  background-color: #6d2ed5;
  border: unset;
  --color-earth: #6d2ed5;
}
.active-mercury {
  background-color: #419ebb;
  --color-mercury: #419ebb;
}
.active-venus {
  background-color: #eda249;
  --color-venus: #eda249;
}
.active-mars {
  background-color: #d14c32;
  --color-mars: #d14c32;
}
.active-jupiter {
  background-color: #d83a34;
  --color-jupiter: #d83a34;
}
.active-saturn {
  background-color: #cd5120;
  --color-saturn: #cd5120;
}
.active-uranus {
  background-color: #1ec1a2;
  --color-uranus: #1ec1a2;
}
.active-neptune {
  background-color: #2d68f0;
  --color-neptune: #2d68f0;
}
.planet-science {
  display: grid;
  grid-template-columns: repeat(4, calc((100vw / 6 - 3rem)));
  column-gap: 20px;
  place-content: center;
  padding: clamp(30px, 40px, 70px) 0;
  flex-basis: 35%;
}
.planet-science .block {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.374);
  height: 70px;
  padding: 10px 20px;
}
.planet-science .block span {
  font-size: 0.65em;
  margin-bottom: 10px;
}
.planet-science .block span + span {
  font-size: 1.5rem;
  font-weight: medium;
  font-family: "Antonio", sans-serif;
}
.planet-details .text {
  position: absolute;
  top: 0;
  height: 100%;
}
.planet-text {
  position: relative;
  height: 170px;
  width: 400px;
}
.planet-text .text{
padding-top: 1.1rem;
}
.hidden {
  display: none;
}
.open-nav {
  display: none;
}
/* Styles for screens smaller than or equal to 600px */
@media (max-width: 700px) {
  body,
  html {
    /* height: 100vh ; */
    height: 100%;
    position: relative;
  }
  .open-nav {
    display: block;
    background-color: transparent;
    border: none;
  }
  nav {
    position: fixed;
    /* display: flex; */
    flex-direction: column;
    padding: unset;
    left: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #070724;
  }
  nav ul {
    display: block;
  }
  .container {
    flex-basis: 10%;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.374);
  }
  .nav-list {
    position: relative;
    flex-basis: 90%;
    /* width: 100%; */
    z-index: 2;
  }
  .planet-descrip {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }
  .planet-info {
    position: unset;
    height: 100px;
  }
  .planet-modes {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    top: 0;
    width: 100%;
    column-gap: 20%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.374);
    padding: 0 20px;
  }
  .planet-details {
    width: 100%;
    position: unset;
  }
  .planet-modes div.planet-mode {
    border: unset;
    display: inline-block;
    font-size: 1rem;
    /* width: fit-content; */
    padding: 10px 0;
    margin-bottom: 0;
    width: fit-content;
    color: rgba(255, 255, 255, 0.374);
  }
  .active-earth {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-earth) !important;
  }
  .active-saturn {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-saturn) !important;
  }
  .active-neptune {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-neptune) !important;
  }
  .active-mars {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-mars) !important;
  }
  .active-jupiter {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-jupiter) !important;
  }
  .active-mercury {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-mercury) !important;
  }
  .active-venus {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-venus) !important;
  }
  .active-uranus {
    background-color: unset;
    color: white !important;
    border-bottom: 5px solid var(--color-uranus) !important;
  }
  .planet-modes div:hover {
    background-color: unset;
  }
  span.number {
    display: none;
  }
  .planet-image {
    margin-top: 35%;
    margin-bottom: 10%;
    width: 100vw;
    padding: 30px;
    height: 200px;
  }
  .planet-name {
    padding-bottom: 20px;
    text-align: center;
  }
  .planet-info {
    display: unset;
    padding: 0;
  }
  .planet-text {
    width: 100vw;
  }
  .planet-text .text {
    padding: 0 20px;
    text-align: center;
    line-height: 1.5rem;
  }
  .planet-science {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 1rem;
    background-color: red;
  }
  .planet-modes div:not([class^="active"]):hover {
    background-color: unset;
  }
  .planet-science .block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .planet-science .block span {
    font-size: 1em;
  }
  .desktop {
    display: hidden;
  }
}
